<div style="text-align: center;">
    <p style="font-family: Georgia, serif; font-size: 30px; margin-top: 5px;">Bienvenido al mantenimiento
        escolar</p>
    <p style="font-family: Georgia, serif; font-size: 20px; margin-top: 10px;">Por favor seleccione:</p>
    <button (click)="listar()" class="btn btn-info" style="margin-right: 1%; margin-top: 2%; margin-bottom: 3%;">Listar
        Profesores</button>
    <button (click)="nuevo()" class="btn btn-info" style="margin-right: 1%; margin-top: 2%; margin-bottom: 3%;">Agregar
        Profesor</button>
    <button (click)="estudiante()" class="btn btn-info"
        style="margin-right: 1%; margin-top: 2%; margin-bottom: 3%;">Listar Alumnos</button>
</div>
<router-outlet></router-outlet>