<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!enviado">
            <div class="form-group">
                <label for="title">Nombre</label>
                <input type="text" class="form-control" id="nombre" required [(ngModel)]="estudiante.nombre"
                    name="title" />
            </div>
            <div class="form-group">
                <label for="description">Apellido</label>
                <input class="form-control" id="apellido" required [(ngModel)]="estudiante.apellido"
                    name="description" />
            </div>
            <button (click)="addEstudiante()" class="btn btn-success" style="margin-top: 3%;">Agregar</button>
        </div>
        <div *ngIf="enviado" style="text-align: center;">
            <h4>Alumno Asignado correctamente!</h4>
        </div>
    </div>
</div>